<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main Website</title>
</head>
<body>
{{> header}}

<p>Here are the link to my <a href="https://github.com/mhoumann87" target="_blank">page on Github</a>

{{> footer}}
</body>
</html>